<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SchoolManagement.Properties.Settings.SqlConnection"
            connectionString="Data Source=AHOLTP0444\SQLSERVER2022;Initial Catalog=SchoolManagement;User ID=sa;Password=Pa$$w0rd;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>